/* VARIABLES */
@use "Variables" as v;

/* FONTS */
// falcon
@font-face {
  font-family: 'SK Falcon R';
  src: url('../fonts/falcon/SKFalconRLight-Light.woff2') format('woff2'),
       url('../fonts/falcon/SKFalconRLight-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
// satoshi
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('../fonts/satoshi/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/satoshi/Satoshi-Variable.woff') format('woff'),
       url('../fonts/satoshi/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/* DEFAULT */
* {
  margin: 0;
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: v.$primary-font;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

input,
textarea {
    &:focus {
        outline: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}