/* VARIABLES */
// fonts
$primary-font: 'Satoshi-Variable';
$secondary-font: 'SK Falcon R';

// colors
$light-color: #f2f2f2;
$dark-color: #2f2f2f;
$first-color-light: #8AA8C0;
$first-color: #647F94;
$second-color-light: #A89ABB;
$second-color: #796494;
$text-color-light: #758DA0;
$text-color: #323F4A;
$alert-color: #FF7373;

// margins

// paddings

// gaps

// z-index

